/* Reset default styles */
* {
    font-family: "Noto Sans", sans-serif;
    max-width: 800px;
    margin: 0px auto;
    line-height: 1.8;
}

/* Container styling for layout */
.container {
    max-width: 800px;
    margin: 2rem auto;
    font-family: "Noto Sans", sans-serif;
}

#vis svg {
    margin: 2rem 0;
    border: 1px solid #ccc; /*otherwise you can't see this part*/
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis text,
.y-axis text {
    font-size: 12px;
    font-family: "Noto Sans", sans-serif;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
}